.main-works {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main-works-dark {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(5, 6, 45);;
}

.section-cards {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  width: 50%;
  font-family: 'Montserrat', sans-serif;
}

.card-project {
  display: flex;
  height: 60vh;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
  margin-top: 10px;
  color: rgb(5, 6, 45);
  text-align: center;
}

.card-project-dark {
  display: flex;
  height: 60vh;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
  margin-top: 10px;
  color: whitesmoke;
  text-align: center;
  display: flex;
  justify-content: center;
}

.btn-cards-backend {
  display: flex;
  justify-content: center;
}

.card-project-backend {
  width: 20rem;
  margin-top: 40px;
}

.card-project-backend-dark {
  width: 20rem;
  margin-top: 40px;
  color: white;
}

.title-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.img-cards {
  width: 100%;
  height: 200px;
  transition: 0.5s;
}

#logo-trybe {
  width: 50px;
}

.btn-cards { 
  display: flex;
}

.title-cards {
  font-size: 30px;
}

.btn-projects-section-dark {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(5, 6, 45);
}

.btn-projects-section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn-stacks {
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

#btn-stacks-dark {
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.btn-stack-selected {
  border-bottom: 2px solid #5B42F3;
}


.item {
  margin-bottom: 10px;
}

/* ======================================== */

.btn-works {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s;
  margin-left: 20px;
 }
 
 .btn-works:active 
 .btn-works:hover {
  outline: 0;
 }
 
 .btn-works span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
 }
 
 .btn-works:hover span {
  background: none;
 }
 
 .btn-works:active {
  transform: scale(0.9);
 }

  /* IPAD SIZE */

  @media only screen and (min-width: 500px) and (max-width: 850px)  {
  .section-cards {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 100px;
    justify-content: center;
    width: 50%;
  }

  .card-project {
    height: 40vh;
    margin-top: 20px;
  }
  
  .img-cards {
    border-radius: 5%;
  }

  .img-cards:hover {
    transform: scale(1.1);
  }
}


 /* DESKTOP SIZE */

@media only screen and (min-width: 850px) {
  .section-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 100px;
    justify-content: center;
    width: 50%;
    align-items: center;
    text-align: center;
  }

  .card-project {
    height: 70vh;
  }
  .img-cards {
    border-radius: 5%;
  }

  .img-cards:hover {
    transform: scale(1.1);
  }

  .btn-projects-section-dark {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .btn-cards-backend {
    height: 70vh;
    display: flex;
    justify-content: center;
  }

  .card-project-backend {
    width: 20rem;
    height: 70vh;
  }
}