.main-works {
  display: flex;
  justify-content: center;
  width: 100%;
}

.section-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

.card-project {
  display: flex;
  height: 70vh;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
  margin-top: 10px;
  color: rgb(5, 6, 45);
  text-align: center;
}


.img-cards {
  width: 100%;
  height: 200px;
  transition: 0.5s;
}

.btn-cards { 
  display: flex;
}

.title-cards {
  font-size: 30px;
}


.item {
  margin-bottom: 10px;
}

/* ======================================== */

.btn-works {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s;
  margin-left: 20px;
 }
 
 .btn-works:active 
 .btn-works:hover {
  outline: 0;
 }
 
 .btn-works span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
 }
 
 .btn-works:hover span {
  background: none;
 }
 
 .btn-works:active {
  transform: scale(0.9);
 }