
.about-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.card-profile {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(5, 6, 45); 
  color: white;
  width: 20rem;
  height: 30rem;
  transition: 0.5s;
  border-radius: 1.8rem;
}


.card-profile:hover {
  box-shadow: 5px 10px 20px #4055ED;
}

.profile-img {
  width: 50%;
  border-radius: 50%;
  margin-bottom: 20px;
  transition: 0.5s;
}

.profile-img:hover {
  transform: scale(1.2);
}

.icons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.img-icon {
  width: 70%;
  margin: 20px;  
  transition: 0.5s;
}


.img-icon:hover {
  transform: scale(1.2);
}
