
.about-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.card-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(5, 6, 45); 
  font-family: 'Montserrat', sans-serif;
  color: white;
  width: 20rem;
  height: 30rem;
  transition: 0.5s;
  border-radius: 1.8rem;
}


.card-profile:hover {
  box-shadow: 5px 10px 20px #4055ED;
}

.profile-img {
  width: 50%;
  border-radius: 50%;
  margin-bottom: 20px;
  transition: 0.5s;
}

.profile-img:hover {
  transform: scale(1.2);
}

.icons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.img-icon {
  width: 70%;
  margin: 20px;  
  transition: 0.5s;
}


.img-icon:hover {
  transform: scale(1.2);
}


/* IPAD SIZE */

@media only screen and (min-width: 500px) and (max-width: 850px) {
  .about-section {
    width: 100%;
    padding: 5%;
    height: 60vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .card-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(5, 6, 45);
    color: white;
    width: 20rem;
    height: 30rem;
    transition: 0.5s;
    border-radius: 1.8rem;
  }

  .technologies-container{
    width: 60%;
    height: 30rem;
  }

  .cards {
    display: grid;
    grid-template-columns: auto auto auto;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
  }
  
  .card-tec {
    margin-top: 15px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .tec-img {
    width: 50px;
  }
  
  .tec-name {
    margin-bottom: 5px;
  }
  
}

/* DESKTOP SIZE */

@media only screen and (min-width: 850px)  {
  .about-section {
    width: 100%;
    /* height: 80vh; */
    display: grid;
    grid-template-columns: auto auto;  
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth; 
    margin-bottom: 50px;
  }

  .card-profile {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    background-color: rgb(5, 6, 45);
    color: white;
    transition: 0.5s;
    border-radius: 1.8rem;
  }

  .technologies-container{
    width: 100%;
  }

  .cards {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    width: 100%;
  }
  
  .card-tec {
    /* margin-top: 15px;
    margin-right: 5px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .tec-img {
    width: 50px;
  }
  
  .tec-name {
    margin-bottom: 5px;
  }

  .icons {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
}
