.cards {
  /* background-color: rgb(5, 6, 45); */
  display: grid;
  grid-template-columns: auto auto auto;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 15px;
}

.card-tec {
  margin-top: 15px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  transition: 0.5s;
}

.card-tec:hover {
 transform: scale(1.5);
}

.tec-img {
  width: 90px;
}

/* .tec-img:hover {
  transform: scale(1.2);
} */

.tec-name {
  /* color: rgb(5, 6, 45); */
  margin-bottom: 5px;
}

.technologies-container{
  padding: 15px;
  border-radius: 5%;
  text-align: center;
  margin-top: 15px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(5, 6, 45); 
  color: whitesmoke;
  width: 95%;
}

/* IPAD SIZE */

@media only screen and (min-width: 500px) and (max-width: 850px) {
  .technologies-container{
    width: 100%;
  }
}

/* DESKTOP SIZE */

@media only screen and (min-width: 850px) {
  .technologies-container{
    width: 100%;
  }
}


